body {
  margin: 0;
  background-color: #dfe4ea !important;
}

main {
  display: flex;
  padding-top: 10px;
  height: fit-content;
}

.template {
  display: block;
}

header > div {
  width: 100%;
  height: 90px;

  position: relative;
  box-shadow: 0mm 0mm 8px #b2bec3;
}
header > div > h1 {
  position: absolute;
  top: 55px;
  right: 500px;
  margin: auto;
  height: fit-content;
  color: #ff5200;
  font-size: 30px;
  transition: 0.3s;
}

aside {
  width: 20%;
  height: 80vh;
  position: fixed;
}

.asside-nav {
  width: 100%;
  height: fit-content;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

aside > .asside-nav a {
  text-decoration: none;
  font-size: 20px;
  color: #485460;
  width: 88%;
  height: 50px;
  display: inline-block;
  border-radius: 4px;
  margin-left: 15px;
  margin-bottom: 6px;
  margin-top: 10px;
  position: relative;
}

i {
  margin-right: 10px;
  margin-left: 20px;
}

span {
  height: fit-content;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 10px;
}

aside > .asside-nav ul li {
  text-decoration: none;
  display: block;
  position: relative;
}

aside > .asside-nav > ul {
  padding: 0;
}

a:hover {
  background-color: #fd7f02 !important;
  color: white !important;
  box-shadow: 2px 2px 8px gray;
}

main > div {
  margin-left: 5px;
  margin-right: 5px;
  width: 79%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0.5mm 0.5mm 8px #b2bec3;
  position: absolute;
  right: 0;
}

a:focus {
  /*background-color: #0652DD;
    color: white;
    box-shadow: 2px 2px 8px gray;*/
}

.btn {
  width: 75px;
}

.myform {
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 20px;
  border: 0.5px solid #cfcfcf;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  box-shadow: 0mm 0mm 8px #e4e4e4;
}

.myMane {
  padding: 20px;
  display: block;
}

table {
  margin-bottom: 20px;
  border-radius: 10px;
  border: 0.5px solid #cfcfcf;
  box-shadow: 0mm 0mm 8px #e4e4e4;
  padding: 10px;
}

main > h1 {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #485460;
  font-size: 30px;
}

#search {
  width: 250px !important;
  margin-left: 10px;
}

#template {
  position: relative;
  top: 50px;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.dashMane {
  display: block;
  width: 100%;
  position: relative;
}

.dash {
  width: 100%;
}

.dash > div > div {
  width: 100%;
  height: 150px;
  border-radius: 20px;
  border: 0.5px solid #cfcfcf;
  box-shadow: 1mm 1mm 8px #2d4c6d;
  color: #155697;
  position: relative;
}

.dash > div > div > h5 {
  color: white;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin: auto;
}

.dash > div > div > h6 {
  font-size: 22px;
  color: white;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
}
.mytext {
  height: fit-content;
}
.dashMane > section > div > h2 {
  color: #485460;
}
.dashMane > section > div:first-child > div {
  background-color: #ff3838;
}
.dashMane > section > div:nth-child(2) > div {
  background-color: #2e86de;
}
.dashMane > section > div:nth-child(3) > div {
  background-color: #1e3799;
}
.dashMane > section > div:nth-child(4) > div {
  background-color: #38ada9;
}
.table > :not(:first-child) {
  border-top: 2px solid rgba(0, 0, 0, 0.2) !important;
}

table thead th {
  text-align: center;
  background: rgba(0, 0, 0, 0.06) !important;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Roboto", sans-serif;
  cursor: default;
}
table tbody tr td {
  text-align: center;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.75);
  text-transform: capitalize;
}
#orderDetailTbl tbody tr td div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  letter-spacing: 1px;
  font-size: 0.8em;
  width: 60px;
  height: 28px;
  border-radius: 25px;
  text-decoration: none;
  background: #00d2d3;
}
#orderDetailTbl tbody tr td:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
#orderDetailTbl tbody tr td {
  cursor: default !important;
}
#customerTbl tbody tr,
#itemTbl tbody tr,
#orderDetailTbl tbody tr {
  cursor: pointer !important;
}

table tbody tr td,
table tbody tr {
  transition: ease-in-out 0.5s !important;
}
table tbody tr:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
}
table tbody tr:hover td {
  color: rgba(0, 0, 0, 1);
  transform: scale(1.05);
}
@media all and (max-width: 910px) {
  aside {
    display: none;
  }

  main > div {
    position: static;
    width: 100%;
  }

  #search {
    width: 150px !important;
  }

  .d-grid {
    display: flex !important;
  }

  #myform {
    margin-right: 0;
    margin-left: 0;
  }

  #divQty {
    width: 30%;
  }
}

#tbl > tbody > tr:hover {
  cursor: pointer;
  background: darkgrey;
}
